* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: royalblue;
    font-size: 24pt;
}

p.intro {
    background-color: yellow;
}

div > p {
    background-color: hotpink;
}

p ~ ul {
    background: #ff0000;
}

a[target=_blank] {
    background-color: yellow;
}

input[type=number], input[type="text"] {
    background: palevioletred;
}

[title~=flower] {
    border: 25px solid red;
}

[lang|=en] {
    background: white;
}

div[class^="test"] {
    background: #ffff00;
}

div[class$="test"] {
    background: #ffff00;
}

div[class*="test"] {
    background: #ffff00;
}

a:active {
    background-color: yellow;
}

p::after { 
    content: " - Remember this";
}

p::before {
    content: "Read this -";
}

input:checked {
    height: 50px;
    width: 50px;
}

input:focus {
    background-color: cyan;
}
